body {
  // background: $gray-very-light;
}
.content-main.col-md-9 {
    background: white;
    border: 1px solid #d5d5d5;
    padding: 0.975rem;
}
.content-header--top.row {
    background: white;
    border: 1px solid #d5d5d5;
    padding: 0.975rem;
}
