.node--view-mode-banner-intro {
  padding: 1.5rem;
  max-width: 29.7rem;
  background: rgba(0, 0, 0, 0.4);
  color: $white;

  .field--name-node-title {
    h2 {
      margin-bottom: 0;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  .field--name-field-sub-title {
    font-size: 1.125rem;
    margin-bottom: 0.75rem;
    font-weight: 700;
  }

  .field--name-body {
    font-size: 0.75rem;
  }
}
