.node--view-mode-full {
  &.node--type-judgment {
    .field__label {
      font-weight: 700;
    }
    .content-main {
      .field--label-inline .field__label {
        float: left;
        margin-right: $spacer-sm;
      }

      .field--name-field-judge {
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        font-weight: 700;

        &:before,
        &:after {
          content: "";
          flex: 1 1 25%;
          height: 1px;
          background: #d5d5d5;
        }

        &:before {
          margin-right: 2rem;
        }

        &:after {
          margin-left: 2rem;
        }

        .field__label {
          float: none;
        }
      }
    }
  }

  &.node--type-legislation {
    .content-aside--inner-wrapper {
      position: sticky;
      top: -4rem;

      .toc-list {
        max-height: 80vh;
        overflow-y: auto;
      }
    }
  }

  .field--name-field-files {
    background: #fff;

    a {
      padding: calc(#{$grid-gutter-width} / 3);
      display: block;
    }
  }
  .field--name-dynamic-token-fieldnode-share-links {
    padding: calc(#{$grid-gutter-width} / 2);
    margin-bottom: $grid-gutter-width;
    background: #fff;

    a {
      color: $body-color;
      font-weight: 700;
    }

    .node-share-links {
      & > div:after {
        margin-left: $spacer-sm;
        font-family: "Font Awesome 5 Brands";
      }

      & > div:nth-child(1) {
        &:after {
          content: "\f09a";
        }
      }

      & > div:nth-child(2) {
        &:after {
          content: "\f099";
        }
      }
    }
  }

  .content-header--wrapper {
    border-bottom: solid 1px #d5d5d5;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }

  .content-aside {
    .block {
      margin-bottom: $grid-gutter-width;

      .title {
        margin-right: calc(#{$grid-gutter-width} / 2);
      }
    }

    .card {
      //padding: calc(#{$grid-gutter-width} / 2);
      margin-bottom: calc(#{$grid-gutter-width} / 2);

      &.bg-light {
        background: $white;
      }
    }
  }
}
