.node--view-mode-teaser {
  &.node--type-legislation {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .node {
    &__title {
      a {
        color: $body-color;
        font-weight: 700;
      }
    }
  }

  &.node--type-legislation {
    .node__content {
      margin-top: auto;
    }
  }
}
