ol.toc-list {
  list-style-type: none;
  padding: 0px;
}

ol.toc-list ol {
  list-style-type: none;
  padding: 0px 0px 0px 10px;
}

ol.toc-list li {
  line-height: 1.25;
  margin-bottom: 4px;
}

ol.toc-list li.toc-has-children {
  margin-bottom: 10px;
}

ol.toc-list li.toc-has-children > a,
ol.toc-list .toc-item-doc > a {
  font-weight: bold;
}
