.layout-footer {
  background: $beige;
  margin-top:2rem;
  position: relative;
  z-index:10;
  padding-bottom:1rem;
  a{
    color:currentColor;
  }

  .copyright {
    margin: 2rem 0 0;
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: 0;
    color: $black;

    @include media-breakpoint-up(md) {
      margin: 3.125rem 0 3.75rem;
    }
  }

  &__top {
    @include make-row();

    & > .region {
      @include make-col-ready();

      @include media-breakpoint-up(md) {
        @include make-col(4);
      }
    }
  }
}
