#navbar-main {
  .navbar-nav {
    .nav-link {
      position: relative;
      padding: 0;
      margin: 0 0 $spacer-md;
      color: $body-color;
      position:relative;
      transition:background-color 400ms ease, color 400ms ease-in;
      @include media-breakpoint-up(lg) {
        margin: 0 .5rem 0 0;
        padding:1rem;
        font-weight:600;
        font-family: $font-family-header;
      }

      &:hover,
      &:focus {
        color: white;
        background-color: $green;
      }
    }
    .nav-item:last-child {
      .nav-link:not(.is-active):after {
        @include media-breakpoint-down(lg) {
          background: transparent;
        }
      }
    }
  }
 
}

.menu--pre-header-nav{
  .nav-link{
    padding:0 0.5rem;
  }
}

#navbar-main {
  position: absolute;
  top: 0;
  right: 10px;
}

a.navbar-brand img {
  height: 80px;
}

@include media-breakpoint-up(md){
  #navbar-main{
    width:100%;
    max-width:720px;
    margin:0 10px;
    right:calc(50vw - 360px);
  }
}

@include media-breakpoint-up(lg){
  #navbar-main{
    position: static;
    display:block;
    right:unset;
    margin:0 auto;
    max-width: 960px
  }
}

@include media-breakpoint-up(xl){

  .navbar-brand {
    flex-basis:315px !important;
    img {
     max-width: 315px;
    }
  }
  #navbar-main{
    max-width: 1140px;
  }
}

a.uct_logo{
  display: block;
  width:80px;
  height:50px;
  align-self: center;
  svg,img {
    height: 100%;
    width:100%;
    display: block;
    padding: 0.5rem;
    object-fit: contain;
    &.uctlong{
      display:none;
    }
  }
}
/*@include media-breakpoint-up(md){
  a.uct_logo{
    width:40px;
    height:40px;
  }
}
*/
@include media-breakpoint-up(lg){
  a.uct_logo {
      width:150px;
      height:50px;
    svg {
        &.uctlong{
        display:block;
      }
      &.uctround{
        display:none; 
      }
    }
  }
}

.layout-header {
  display: flex;
  flex-direction: column;
  .layout-header__main-header{
    flex-grow:1;
  }
  .layout-header__pre-header{
    flex-shrink:1;
    font-size:0.8rem;
    .d-flex{
      align-items: center;
    }
  }
  .container{
    height: 100%;
  }
  .navbar{
    flex-wrap: nowrap;
    height: 100%;
  }
  .navbar-brand{
    flex-basis: 100%;
    max-height: 100%;
    height: 100%;
    padding: 0.5rem 0;
    img {
      height: calc(100% - 1rem);
      width: auto;
      max-height: 100%;
      display: block;
      position: absolute;
      object-fit: contain;
  }
  }
}

.navbar-collapse,.navbar .navbar-collapse.show {
  position: absolute;
  z-index: 1;
  opacity: 1;
  top: 100%;
  width: 100vw;
  right:-10px;
}

.navbar-light .navbar-toggler{
  position: absolute;
  right: 0;
}

@include media-breakpoint-up(md){
  .navbar {
    .navbar-collapse, .navbar-collapse.show,  .navbar-collapse.collapsing {
      padding: 1rem calc(50vw - 360px);
      right:calc((50vw - 350px) * -1);
    }
  }
}
@include media-breakpoint-up(lg){
  .layout-header {
    .layout-header__pre-header{
      font-size:1rem;
    }
    .layout-header__main-header{
      flex-grow:1;
      display: flex;
      flex-direction: column;
    }
    .navbar-brand{
      height: calc(80px + 1rem);
      img {
        height:80px;
      }
    }
  }
  .navbar{
    .navbar-collapse, .navbar-collapse.show {
      top: unset;
      width: unset;
      right:unset;
      padding:0;
      &::before{
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
      }
    }
    .menu--main{
      padding:0;
    }
  }
}