{% for facet in facets %}
  <div class="facet-block top-right-radius very-light-grey">
    {% if show_title %}
      <div class="facet-block__title dark-beige top-right-radius"><p class="small">Filter by:</p><h3>{{ facet.title }}</h3></div>
    {% endif %}
    <div class="facet-block__content">{{ facet.content }}</div>
  </div>
{% endfor %}
