/**
 * @file
 * The visual styles for Bootstrap Barrio's search form(s).
 */

input[type="search"] {
    box-sizing: border-box;
}

header #search-block-form {
    padding: 5px 15px;
    flex-flow: row wrap;
}

#search-block-form {
    display: flex;
}

#block-views-block-billboard-block-billboard-hero .search-form input, #block-views-block-billboard-block-billboard-hero--2 .search-form input {
    border: 1px solid $primary;
}
