.block {
  & > h6 {
    margin-bottom: 0.6875rem;
    max-width: 11rem;
    line-height: 1.25rem;
  }
}

// Footer blocks
#block-countries {
  img {
    max-width: 1.25rem;
    margin: 0 1.25rem;
  }

  .countries {
    ul {
      @include list-unstyled();
    }

    span {
      padding-top: 2px;
    }
  }
}

// Homepage blocks
// #block-views-block-judgement-block-recent-judgement,
// #block-views-block-legislation-block-recent-registration,
// #block-views-block-gazettes-listing-block-latest-gazette {
.block.block-views {
  margin-top: 1.5rem;

  .content {
    background: $white;
  }

  .view-content {
    padding: calc(#{$grid-gutter-width} / 1.333333);
    border: 1px solid #d5d5d5;
    border-bottom: none;
  }

  .views-row {
    position: relative;
    &:not(:nth-child(1)) {
      margin-top: 0.5rem;
    }

    &:nth-child(5n + 6) {
      padding-top: calc(#{$grid-gutter-width} / 1.333333);
      margin-top: calc(#{$grid-gutter-width} / 1.333333);

      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        height: 1px;
        width: calc(100% - #{$grid-gutter-width});
        background: #d5d5d5;
      }
    }
  }

  .view-empty {
    padding: calc(#{$grid-gutter-width} / 1.333333);
    border: 1px solid #d5d5d5;
  }

  .views-view-grid.horizontal {
    position: relative;
    border-bottom: none;

    &:not(:nth-child(1)) {
      border-top: none;
      margin-top: calc(#{$grid-gutter-width} / 1.333333);
      padding-top: calc(#{$grid-gutter-width} / 1.333333);

      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        height: 1px;
        width: calc(100% - #{$grid-gutter-width});
        background: #d5d5d5;
      }
    }

    @include media-breakpoint-up(lg) {
      .row:not(:first-child) {
        padding: $grid-gutter-width 0 0;
      }
    }
  }

  .pager {
    @include list-unstyled();

    .button {
      display: block;
      width: 100%;
      padding: 0.625rem 0;
      background: $primary;
      text-align: center;
      color: $white;
    }
  }
}

//Sidebar blocks
#block-socialnewstimeline {
  & > nav {
    position: relative;
  }

  .nav-link.active {
    background: $white;
    border-bottom: 1px solid $white;
  }

  .tab-content {
    border: 1px solid #d5d5d5;
    border-top: none;
  }

  .tab-pane {
    min-height: 400px;
  }

  #nav-twitter {
    margin-bottom: -6px;
  }

  #nav-twitter-tab {
    position: relative;
    color: $twitter-brand;

    &:hover {
      color: darken($twitter-brand, 10%);
    }

    // Needed to hide the missing border - JA
    &:before {
      content: "";
      position: absolute;
      left: -1px;
      bottom: -1px;
      width: 1px;
      height: 1px;
      background: #d5d5d5;
    }
  }

  #nav-facebook-tab {
    color: $facebook-brand;

    &:hover {
      color: darken($facebook-brand, 10%);
    }
  }
}
