.block {
  & > h6 {
    margin-bottom: 0.6875rem;
    max-width: 11rem;
    line-height: 1.25rem;
  }
}

// Pre-header
// Navigation
#block-liiwebsupportnavblock {
  .item-list {
    .list-group-item {
      background: transparent;
      padding: 0;
      border: none;
      line-height: $pre-header-height-desktop;
    }

    svg {
      width: 1.125rem;
      height: 1.125rem;

      &:hover {
        path {
          fill: $primary;
        }
      }

      path {
        fill: $body-color;
      }
    }
  }

  & + .block {
    margin-left: $spacer-xl;
  }
}
// Search
#block-advancedsearchblock {
  .btn {
    height: $pre-header-height-desktop;
  }

  fieldset,
  .form-row > div {
    padding-left: 0;
    padding-right: 0;
  }

  .form-group {
    margin-bottom: 0;
  }

  .form-text:focus,
  .custom-select:focus {
    box-shadow: inset 0 0 0 0.2rem rgba(50, 111, 209, 0.25);
  }

  .form-text {
    height: $pre-header-height-desktop;
    max-width: 17.5rem;
    margin-top: 0;
    border: none;
  }

  .js-form-type-select {
    position: relative;
    @include media-breakpoint-down(sm) {
      @include sr-only();
    }

    &:before {
      content: "\f107";
      display: block;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1rem;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: $body-color;
      z-index: 1;
    }
  }

  .custom-select {
    height: $pre-header-height-desktop;
    border-bottom: 0;
    border-top: 0;
    background: $white;
  }

  #search-form {
    display: flex;
    @include media-breakpoint-down(sm) {
      max-width: 14rem;
    }
  }
}

// Hero
#block-views-block-billboard-block-billboard-hero,
#block-views-block-billboard-block-billboard-hero--2 {
  h1,
  .field--name-field-sub-title {
    font-weight: 300;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    line-height: 1;
  }

  h3 {
    font-size: 0.75rem;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    font-weight: 400;
  }

  .field--name-field-sub-title {
    font-size: 1.5rem;
    margin-bottom: $spacer-xl;
  }

  // Paragraph - Search block
  .search-form {
    display: flex;
    margin-bottom: $spacer-lg;

    .form-group {
      margin-bottom: 0;
    }

    .form-item-search {
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    }

    .form-control:focus {
      box-shadow: inset 0 0 0 0.2rem rgba(50, 111, 209, 0.25);
    }

    input,
    .btn {
      height: 2.5rem;
      border: none;
    }

    input {
      margin-top: 0;
    }
  }

  // Paragraph - Partner block
  .block-views-blockrw-organisations-block-partner-hero {
    .view-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;

      @include media-breakpoint-up(md) {
        flex-wrap: nowrap;
        justify-content: space-between;
      }
    }
  }
}

// Billboard - Intro
#block-views-block-billboard-block-billboard-intro {
  margin-bottom: 1.75rem;

  .block-views-blockrw-organisations-block-partner-hero {
    h3 {
      font-weight: 400;
      font-size: 0.75rem;
    }

    .view-content {
      display: flex;
    }

    .views-row:not(:first-child) {
      margin-left: 0.5rem;
    }
  }
}

// Main
#block-liibarrio2020-mainpagecontent {
  & + .block {
    margin-top: 0;
  }
}

// Content Top
#block-views-block-country-block-country-carousel--2 {
  margin-top: $spacer-xl;
}

// Sidebar - First
.block-views-exposed-filter-blocks-block.block-sidebar-first {
  .form-item-search-api-fulltext {
    width: 100%;
    flex: initial;
    padding-right: 0;
  }

  label {
    @include sr-only();
  }

  .form-control:focus {
    box-shadow: inset 0 0 0 0.2rem rgba(50, 111, 209, 0.25);
  }

  .form-row {
    flex-wrap: nowrap;
  }

  .form-actions {
    padding-left: 0;
  }
}

.block-facets-block.block-sidebar-first {
  @include liibarrio-box();
}

.block-facets-block {
  &.block-content-top {
    padding: $spacer-md 0;
    margin-bottom: $spacer-xl;

    .facet-item a {
      position: relative;

      .js-facet-deactivate .facet-item__value {
        font-weight: 700;
      }
    }

    .facets-widget-title {
      font-weight: 700;
    }

    .facet-item__count {
      position: absolute;
      top: -$spacer-md;
      color: $white;
      font-size: 0.5rem;
      line-height: 1;

      &:before {
        @include absolute-center();
        content: "";
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        background: $green-light;
        z-index: -1;
        border-radius: 50%;
      }
    }

    .facet-block .item-list__links {
      display: flex;
      justify-content: space-between;
    }
  }

  .facet-block {
    &__content {
      .item-list__links {
        @include list-unstyled();
        margin-bottom: 0;
      }
    }
  }
}

// Sidebar - Second
#block-webform.block-second-sidebar {
  @include liibarrio-box($spacer-lg);
  margin-bottom: 1rem;

  button {
    width: 100%;
  }

  .form-group {
    margin-bottom: 0.625rem;
  }

  .webform-actions {
    margin-bottom: 0;
  }
}

#block-contactblock.block-second-sidebar {
  @include liibarrio-box($spacer-lg);

  p {
    margin-bottom: 0;
  }

  .content {
    padding-left: 0.4rem;
  }

  .list-group-item {
    padding: 0;
    padding-top: 0.875rem;
    border: none;
    background-color: transparent;
  }

  .fas,
  .fa,
  .fab {
    padding-right: 1rem;
  }
}

#block-gazettes-date-facets-block,
.block-facets-ajax.js-facet-block-id-gazettes_date_facets_block {
  .facet-block {
    ul {
      display: flex;
      flex-direction: column-reverse;
      padding: $spacer-sm;

      .is-active {
        font-weight: 700;
      }
    }
  }
}

// Footer blocks
#block-views-block-rw-organisations-footer-our-partners {
  margin-bottom: $spacer-xl;
}

#block-views-block-country-block-country-footer {
  .title {
    max-width: 14rem;
  }
  .content {
    padding-left: 1.25rem;
  }
}

// Homepage blocks
#block-views-block-judgment-block-recent-judgment,
#block-views-block-legislation-block-recent-registration,
#block-views-block-gazettes-listing-block-latest-gazette {
  margin-top: 1.5rem;

  & > h3 {
    padding-left: $spacer-lg;
  }

  .content {
    background: $white;
  }
}

// Judgment landing
#block-legislationviewtabsblock,
#block-judgmentviewtabsblock {
  @include liibarrio-box();

  & > .content {
    & .nav {
      margin-bottom: 1.5rem;

      .nav-item {
        padding: 0.5rem 1rem;
      }
      .nav-link {
        text-decoration: underline;
        padding: 0 $spacer-md;

        &.active {
          position: relative;
          background: transparent;
          color: $body-color;
          font-weight: 700;
          text-decoration: none;

          &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -0.75rem;
            height: $spacer-md;
            width: 100%;
            background: $secondary;
          }
        }
      }
    }
  }

  .view {
    margin-top: 1rem;
  }
}

//Sidebar blocks
#block-views-block-rw-organisations-block-1 {
  margin-bottom: $spacer-lg;

  .view-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

#block-socialnewstimeline {
  & > nav {
    position: relative;
  }

  .nav-link.active {
    background: $white;
    border-bottom: 1px solid $white;
  }

  .tab-content {
    border: 1px solid $border-color;
    border-top: none;
  }

  .tab-pane {
    min-height: 25rem;
  }

  #nav-twitter {
    margin-bottom: -6px;
  }

  #nav-twitter-tab {
    position: relative;
    color: $twitter-brand;

    &:hover {
      color: darken($twitter-brand, 10%);
    }

    // Needed to hide the missing border - JA
    &:before {
      content: "";
      position: absolute;
      left: -1px;
      bottom: -1px;
      width: 1px;
      height: 1px;
      background: $border-color;
    }
  }

  #nav-facebook-tab {
    color: $facebook-brand;

    &:hover {
      color: darken($facebook-brand, 10%);
    }
  }
}
