button[type="submit"] {
  svg {
    width: 1.125rem;
    height: 1.125rem;
    fill: $white;
  }
}

.btn-primary{
  background-color: $green;
  border-color:$green;
  &:hover, &:focus{
    background-color: $dark-beige;
    border-color:$dark-beige;
  }
}