/**
 * @file
 * Styles for Bootstrap Barrio's breadcrumbs.
 */
/*Header*/
.layout-header{
    &__pre-header{
        a{
            color: currentColor;
        }
    }
} 

.navbar-light .navbar-toggler {
    border:none;
    box-shadow:$dropshadow-sm;
    background-color:$beige;  
    width: 50px;
    height: 50px;
    padding:10px;
    svg{
        fill:$black;
        transition:fill 300ms ease-out;
    }
    .bar-top{
        transform: translate(0,8px) rotate(45deg);
        transform-origin: 50% 25%;
        transition:transform 300ms ease-in;
    }
    .bar-bottom{
        transform: translate(0,-8px) rotate(-45deg);
        transform-origin: 50% 75%;
        transition:transform 300ms ease-in;
    }
    .bar-mid{
        opacity:0;
        transition:opacity 300ms ease-in;
    }

    &.collapsed{
        svg{
            fill:$green;
        }
        .bar-top{
            transform: translate(0,0) rotate(0);
        }
        .bar-bottom{
            transform: translate(0,0) rotate(0);
        }
        .bar-mid{
            opacity:1;
        } 
    }
}

.navbar-collapse{
    padding:1rem;
    opacity:0;
    transition:opacity 300ms ease-in;
    &::before{
        content:'';   
    }
    &.show, &.collapsing{
        height:100%;
        &::before{
            content: '';
            width: 100vw;
            position: absolute;
            top: 0;
            right:0;
            height:100%;
            background-color: $beige;
            z-index: -1;
            opacity:1;
            box-shadow: $dropshadow-lg;  
        }
    }
}

div#block-views-block-liiweb-search-general-search-form {
    width: 100%;
}

#views-exposed-form-liiweb-search-general-search-form {
    width:100%;
  .form-actions {
    flex-basis: 10%;
  }
  fieldset {
    flex-basis: 90%;
    width: 100%;
  }
}

@include media-breakpoint-up(lg){
    .navbar-collapse.collapse{
        @include full-width-bg($beige);
      }
}