.view-rw-quicklink {
  padding: 0.875rem;
  border: solid 1px #d5d5d5;
  background: $white;

  .views-row:last-child {
    p {
      margin-bottom: 0;
    }
  }
}

.views-view-grid.horizontal.cols-1 {
  .views-row {
    margin-bottom: calc(#{$grid-gutter-width} / 2);
  }
}

// Custom classes applied via Views UI
.view--liibarrio {
  margin-bottom: $grid-gutter-width;

  &--bg {
    // for when the block title is NOT used
    .view-content {
      background: $white;
    }
  }

  .view-content {
    padding: calc(#{$grid-gutter-width} / 1.333333);
    border: 1px solid #d5d5d5;

    &:not(:last-child) {
      border-bottom: none;
    }
  }

  .views-row {
    position: relative;
    &:not(:nth-child(1)) {
      margin-top: 0.5rem;
    }

    &:nth-child(5n + 6) {
      padding-top: calc(#{$grid-gutter-width} / 1.333333);
      margin-top: calc(#{$grid-gutter-width} / 1.333333);

      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        height: 1px;
        width: calc(100% - #{$grid-gutter-width});
        background: #d5d5d5;
      }
    }
  }

  .views-view-grid.horizontal {
    position: relative;
    border-bottom: none;

    &:not(:nth-child(1)) {
      border-top: none;
      margin-top: calc(#{$grid-gutter-width} / 1.333333);
      padding-top: calc(#{$grid-gutter-width} / 1.333333);

      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        height: 1px;
        width: calc(100% - #{$grid-gutter-width});
        background: #d5d5d5;
      }
    }

    @include media-breakpoint-up(lg) {
      .row:not(:first-child) {
        padding: $grid-gutter-width 0 0;
      }
    }
  }

  .pager {
    @include list-unstyled();
    margin-bottom: 0;

    .button {
      display: block;
      width: 100%;
      padding: 0.625rem 0;
      background: $primary;
      text-align: center;
      color: $white;
    }
  }
}
