<li class="toc-item-{{ item.type }} {% if item.children %}toc-has-children{% endif %}">
  <a href="#{{ item.id | default(item.type) }}">{{ item.title }}</a>
  {% if item.children %}
  <ol>
    {% for kid in item.children %}
      {{ include('@liibarrio/includes/toc.html.twig', {item: kid}) }}
    {% endfor %}
  </ol>
  {% endif %}
</li>
