/**
 * @file
 * Visual styles for Bootstrap Barrio's node component.
 */

.node__content {
    font-size: $font-size-base;
    margin-top: $spacer;
}


/* View mode teaser styles. */

.node--view-mode-teaser {
    border-bottom: $border-width solid $border-color;
    margin-bottom: $spacer;
    padding-bottom: $spacer;
}

.node--view-mode-teaser h2 {
    margin-top: 0;
    padding-top: 0.5em;
}

.node--view-mode-teaser.node--sticky {
    background: #f9f9f9;
    background: rgba(0, 0, 0, 0.024);
    border: $border-width solid $border-color;
    padding: 0 $spacer $spacer;
}

.node--view-mode-teaser .node__content {
    clear: none;
    font-size: $font-size-base;
    line-height: $line-height-base;
}


/* Node metadata styles. */

.node__meta {
    font-size: $font-size-sm;
    margin-bottom: -5px;
}

.node__meta .field--name-field-user-picture img {
    float: left;
    /* LTR */
    margin: 1px $spacer 0 0;
    /* LTR */
}

[dir="rtl"] .node__meta .field--name-field-user-picture img {
    float: right;
    margin-left: $spacer;
    margin-right: 0;
}


/* Node links styles. */

.node__links {
    text-align: right;
    /* LTR */
    font-size: $font-size-base;
}

[dir="rtl"] .node__links {
    text-align: left;
}


/* Unpublished node styles. */

.node--unpublished {
    padding: $spacer $spacer 0;
}

.node--unpublished .comment-text .comment-arrow {
    border-left: $border-width solid #fff4f4;
    border-right: $border-width solid #fff4f4;
}

.liiweb-content-general {
    &.sidebar-position-left .bottom {
        flex-direction: row-reverse;
    }

    > * {
        margin-bottom: $spacer;
    }

    .field--label-inline {
        display: block;

        > .field__label, .field__item, .field__items {
            display: inline;

            > p:first-child {
                display: inline;
            }
        }

        .field__label {
            &:after {
                content: ':';
            }
        }
    }

    .full-width {
        .field--name-field-judge {
            overflow: hidden;
            text-align: center;
            width: 100%;
            font-weight: bold;

            &:before {
                right: 1.5em;
                margin-left: -50%;
            }

            &:after {
                left: 1.5em;
                margin-right: -50%;
            }

            .field__label {
                font-weight: bold;
                padding-right: 0;

                &:after {
                    display: none;
                }
            }

            &:before, &:after {
                background-color: $gray-300;
                content: "";
                display: inline-block;
                height: 1px;
                position: relative;
                vertical-align: middle;
                width: 50%;
            }
        }
    }

    .field--type-entity-reference {
        margin: 0;
    }

    .content-header {
        .right {
            text-align: right;
        }
    }

    .content {
        .field__label {
            font-weight: bold;
        }

        .field {
            margin-bottom: $spacer;
        }
    }

    .sidebar {
        > * {
            padding: $spacer;
        }

        > *:nth-child(2n-1) {
            background-color: $gray-100;
            border: 1px solid $gray-200;
        }
    }

    .sidebar-share {
        > * {
            margin-bottom: $spacer;
        }
    }

    .node-share-links {
        padding: 0;
    }
}