/* MIXINS */

// Absolute center
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Liibarrio box
@mixin liibarrio-box($padding: #{$spacer-md}) {
  background: $white;
  border: 1px solid $border-color;
  padding: $padding;
}
